<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name="BancoDeDados" connectionString="Data Source=DESKTOP-K902K2B\MSSQLSERVER01;Initial Catalog=BancoListaDeAnimais;User ID=sa;Password=sap@123" providerName="System.Data.Client"/>
	</connectionStrings>
</configuration>

